* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    justify-content: center;
    position: absolute;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin: 20px;
    text-align: center;
    color: tomato;
}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

button {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 3px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-left: 20px;
}

button:hover {
    background-color: #45a049;
}

.container {
    background-color: rgba(172, 170, 170, 0.199);
    margin: 100px 500px;
    padding: 10px;
    border-radius: 20px;
}